#__next {
  height: 100%;
}

html{
  background-color: #14110f;
}

html, body {
  margin: 0;
  height: 100%;
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  scrollbar-width: none;
}
