.mainbox {
    margin: auto;
    height: 700px;
    width: 400px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.main {
    background-color:rgba(0, 0, 0, 0.849) ;
    color:white;
    overflow-y: hidden;
}
@media screen and (max-width:600px) {
    #mainbox {
        width: 100%;
    }
}
/*Calculator*/
.calc {
    width: 100%;
}
.input {
    border: 3px solid rgb(66, 66, 66);
    border-left: 10px solid rgb(66, 66, 66);
    width:max-content;
    text-align: left;
    font-size: 30px;
}
.stuf {
    outline: none;
    border: none;
    padding-left: 15px;
    width: 95%;
    color:rgb(0, 0, 0);
    background-color: rgba(1, 1, 1, 0);
    height: 55px;
}
.stuf:focus {
    border-left: 3px solid white;
}
.input:hover{
    background-color: rgb(66, 66, 66);
}
.button {
    background-color:grey;
    width: 15%;
    padding: 0%;
}
.button:hover {
    background-color: rgb(145, 145, 145);
}
.number {
    background-color: rgb(66, 66, 66);
}
.equals {
    background-color: rgb(143, 74, 143);
}
.equals:hover {
    background-color: rgb(173, 96, 173);
}
.number:hover {
    background-color: rgb(82, 82, 82);
}
.inp {
    color:white;
    width: 100%;
    height:45px;
    font-size: 18px;
    border:none;
    background-color: rgba(1, 1, 1, 0);
}
/*History*/
.history {
    width: 100%;
}
.solution {
    border: 3px solid rgb(66, 66, 66);
    border-left: 10px solid rgb(66, 66, 66);
    border-top: 0px;
    padding-left: 15px;
    height: 55px;
    width:min-content;
    text-align: left;
    font-size: 30px;
    
}
.previous {
    border: 3px solid grey;
    border-left: 10px solid grey;
    border-bottom: 0px;
    padding-left: 15px;
    height: 100px;
    max-height: 90px;
    text-align: left;
    font-size: 20px;
    color: rgb(185, 185, 185);
    width: auto;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
}
