.mainwrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    gap: 15px 0px;
}
.container {
    background-color: #2c2c25;
    border: 5px solid #2c2c25;
    border-radius:  20px;
    height: 200px;
    width: 300px;
    overflow: hidden;

    transition: all .2s ease-in-out;
}
.container:hover {
    transform: scale(0.85);
}
.image {
    position: relative;
}