.a {
    color: white;
}
.a:visited {
    color: white;
}
.bg {
    position: absolute; 
    overflow: hidden; 
    z-index: -1; 
    width: 100%; 
    height: 100%; 
    background-color: #14110f;
}
.mainul {
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    max-width: 30rem;
    min-width: 40%;
    list-style: none;
    padding-left: 0;
    overflow: hidden;
}
.mainli {
    width:100%; 
    height:5.5rem; 
    display:flex; 
    justify-content:space-between; 
    align-items:center;
}
@media only screen and (max-width: 600px) {
    .mainli {
       height:6.5rem;
    }
}

.thumbnail {
    height:4.5rem; 
    width:8rem; 
    float:right; 
    position:relative;
}

.ul {
    list-style: none;
    padding-left: 0;
    overflow: hidden;
}
.li {
    float: left;
    margin-right: .3rem;
}