
.bg {
    position: absolute;
    background: linear-gradient(to bottom, #34312d 18rem, #14110f -18rem);
    width: 100%;
    height: 100%;
    overflow:hidden;
    z-index: -1;
}
.whole{
    display: flex;
    flex-direction: column;
    color:white;
    height: 100%;
    width: 70%;
    margin: auto;
}

.topHalf{
    height: 18rem;
    flex-shrink: 0;
}
.links{
    background-color: #d9c5b2;
    top: 16.8rem;
    padding: .3rem;
    width: fit-content;
    display: flex;
    align-self: center;
    gap: .3rem;
    transform: translateY(-50%);
}
.mebg {
    position: absolute;
    margin-top: 2rem;
    align-self: center;
    background-color:#d9c5b2;
    width: 10rem;
    border-radius: 25%;
    height: 10rem;
}
.mee {
    position: absolute;
    margin-top: 10px;
    width: 400px;
    height: 420px;
    align-self: center;
}
.linkimage{
    position:relative;
    background-color: darkgray;
    padding: .3rem;
    width:2rem;
    height:2rem;
}
.linkimage:hover {
    transform: scale(1.1); 
    transition-duration: .1s;
}
.bottomHalf{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.projects{
    min-width: 20rem;
    width: min-content;
    padding: 0;
    margin: 0 auto;
}
.proj{
    margin: .3rem 0;
    max-height: 3rem;
    overflow: hidden;
    transition: max-height .5s;
}
.projimg{
    position: relative;
    width: 5.2rem;
}
.parrow{
    width: 1.5rem;
    height: 1.2rem;
    align-self: center;
    position: relative;
    transition: transform 1s ease-out;
}
.parrow:hover{
    transform: translateX(10px);
}
.projHead{
    display: flex;
    height: 3rem;
}
.projText {
    color: lightgrey;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: .15rem;
}
.projName{
    font-size: larger;
    min-width: 7.5rem;
}
.projSub{
    font-size: medium;
    color: darkgrey;
}
.projActive {
    background-color: grey;
}
.proj:hover {
    max-height: 5.4rem;
    transition: max-height .2s ease-in;
}
.proj:hover .projContent {
    opacity: 1;
}
.projContent{
    position: relative;
    z-index: 1;
    text-align: center;
    top: 0;
    font-size: small;
}

.phr{
    background:linear-gradient(to right, #e84f36, #fbb900,#ffee01,#65b33d,#00aae5,#3c4395,#6b4795, transparent);
    border: 0;
    height:.07rem;
}

.screen {
    background-color: #34312d;
    max-width: 30rem;
    margin: 0 auto;
    height: 23.4rem;
    overflow-y: scroll;
    scrollbar-width: none;
}
.screen::-webkit-scrollbar {
    display: none;
}
.screenbg {
    background:linear-gradient(to bottom, #14110f, transparent 10%, transparent 90%, #14110f);
    padding: 30px;  
    min-height: 28rem;
}
.screen p {
    font-size: large;
    font-weight: 500;
    color: aliceblue;
}
.screen h3 {
    color:aliceblue;
}
.screen p span {
    font-weight: bold;
}
.screenimg {
    margin: .5rem;
    margin-right: 0;
    float: right;
    border-radius: 4%;
    box-shadow: 7px 12px 4px rgb(34, 34, 34);
}
@media (max-width:1750px) {
    .whole {
        width: 90%;
    }
}
@media (max-width:700px) {
    .linkimage {
        width: 1.5rem;
        height: 1.5rem;
    }
    .projects {
        min-width: 100%;
    }
    .proj {
        width: 100%;
    }
    .parrow {
        display: none;
    }
    .screen {
        text-align: center;
        max-width: 17.3rem;
    }
    .screenimg {
        float: unset;
        margin: auto;
        margin: 0;
    }
}
@media (max-width:400px) {
    .bg {
        background: linear-gradient(to bottom, #34312d 9rem, #14110f -9rem);
    }
    .mebg {
        position: absolute;
        margin-top: 2rem;
        align-self: center;
        background-color:#d9c5b2;
        width: 5rem;
        border-radius: 25%;
        height: 5rem;
    }
    .mee {
        width: 200px;
        height: 210px;
        align-self: center;
    }
    .topHalf {
        height: 9rem;
    }
    .projimg{
        position: relative;
        width: 5.2rem;
        flex-shrink: 0;
    }
    .linkimage {
        width: .6rem;
        height: .6rem;
    }
    .projects {
        min-width: 100%;
    }
    .proj {
        width: 100%;
    }
    .projName{
        font-size: large;
        min-width: 7.5rem;
    }
    .projSub{
        font-size: x-small;
        color: darkgrey;
    }
    .projContent{
        font-size: x-small;
    }
    .parrow {
        display: none;
    }
    .screen {
        text-align: center;
        max-width: 17.3rem;
    }
    .screenimg {
        float: unset;
        margin: auto;
        margin: 0;
    }
    .links{
        padding: .1rem;
        width: fit-content;
        display: flex;
        align-self: center;
        gap: .1rem;
        transform: translateY(-50%);
    }
    .screen p {
        font-size: small;
        font-weight: 500;
        color: aliceblue;
    }
    .screen h3 {
        font-size: large;
        color:aliceblue;
    }
    .screen p span {
        font-weight: bold;
    }
    .screenimg {
        margin: .5rem;
        margin-right: 0;
        float: right;
        border-radius: 4%;
        box-shadow: 7px 12px 4px rgb(34, 34, 34);
    }
}