.maj {
  background: transparent;
  padding-left: 30px;
  width: 700px;
  min-height:190px;
  margin-right: 30px;
  margin-top: 1rem;
  position: absolute;
  top: 10px;
  z-index: 99;
}

.nav {
  float: right;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  width: 200px;
  background-color: #fafcfc;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
  border-bottom: 3px solid #333;
}

.img {
  float: left;
  max-width: 65%;
}

.nav > a {
  margin: auto;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.075em;
  color: #333;
  transition: all 0.125s ease;
}

.accordion {
  font-size: 18px;
  font-weight: 700;  
  background-color: #fafcfc;
  border: 0;
  padding-inline: 30px;
  border-top: 3px solid #333;
}

.active, .accordion:hover, .nav > a:hover {
  background-color: #c7c7c7;
}

@media(max-width: 700px) {
  .maj {
    width: 100%;
    padding-left: 0;
  }
  .img {
    float: none;
    margin: auto;
    margin-top: 4rem;
  }
  .nav {
    visibility: hidden;
  }
}